<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header.ejs') %>
    <form method="post" action="/login" id="login_form" name="login_form">
    <table border="0" style="border:none; margin: 2em">
    <td >
      <input type="email" tabindex="1"  id="email" placeholder="Email" name="email" class="inputtext radius1" value="">
    </td>
    <td>
      <input type="password" tabindex="2" id="password" placeholder="Password" name="password" class="inputtext radius1" >
    </td>
    <td >
      <input type="submit" class="fbbutton" name="login" value="login"/>
    </td>
    </form>
  </body>
</htmil




