<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>TinyApp</title>
    </head>
    <body>
      <header>
        <div>
         <p>Please make sure you've got the correct short url</p>
        </div>
      </header>
    </body>
  </html>
