<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <div>
       <h2 style="color: #487d6b; font-weight: bold">you don't have access to this url</h2>
      </div>
    </header>
  </body>
</html>
