  <<!DOCTYPE html>
  <html lang="en">
    <head>
     <meta charset="UTF-8">
     <title>Document</title>
    </head>
    <body>
      <form method="post" action="/register" id="login_form" name="login_form">
        <table border="0" style="border:none">
          <td >
            <input type="email" tabindex="1"  id="email" placeholder="Email" name="email" class="inputtext radius1" value="">
          </td>
          <td >
            <input type="password" tabindex="2" id="password" placeholder="Password" name="password" class="inputtext radius1" >
          </td>
          <td >
            <input type="submit" class="fbbutton" name="login" value="REGISTER" />
          </td>
      </form>



