<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
    <body>
    <%- include('partials/_header.ejs') %>
      <header>
        <span>
         <h2> Username or Password is not correct <h2>
        </span>
      </header>
    </body>
</html>
