<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header.ejs') %>
    <header>
    <span>
      <h2 style="color: #487d6b; font-weight: bold">You need to login to view this content. Please Login.</h2>
    </span>
    </header>
  </body>
</html>
