<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
  <div>
  <h2 style="color: #487d6b; font-weight: bold">Please make sure you've got the correct short url</h2>
  </div>
  </header>
</body>
</html>


